$primary-color: rgb(151, 60, 255);

.header-nav {
  background-color: #f8f9fa;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #eee;

  a {
    text-decoration: none;
    color: #333;

    &:hover {
      color: $primary-color;
    }
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .header-title {
      font-size: 1.75rem;
      font-weight: bold;
      font-family: "Sora", 'Times New Roman', Times, serif;
    }

    .header-buttons {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      list-style: none;
      font-family: "Mulish", 'Times New Roman', Times, serif;
      cursor: pointer;

      a, button {
        padding: 1rem 1.2rem;
        
      }
      button {
        border: none;
        font-size: 15px;
        font-family: "Mulish", 'Times New Roman', Times, serif;
        background-color: #f8f9fa;

      }
      a:hover, button:hover {
        background-color: rgb(240, 240, 240);
        color: $primary-color;

      }
    }

  }
}