<nav class="header-nav">
    <div class="header-container">
      <a routerLink="/feed" class="header-title">BlogAway</a>
      <div class="header-buttons" *ngIf="isAuthenticated">
        <a routerLinkActive="active" routerLink="/feed" class="header-button">Home</a>
        <a routerLinkActive="active" routerLink="/my-blogs" class="header-button">My Blogs</a>
        <a routerLinkActive="active" routerLink="/profile" class="header-button">Profile</a>
        <button class="header-button header-logout-button" (click)="onLogout()">Sign Out <fa-icon [icon]="faSignOut"></fa-icon></button>
      </div>
    </div>
</nav>
