$primary-color: rgb(141, 55, 240);
$secondary-color: rgb(151, 60, 255);
$primary-white: #f8f9fa;

.create-blog-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;

  a {
    font-family: "Mulish", "Times New Roman", Times, serif;
    background-color: $primary-color;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    border: 1px solid white;
  }

  a:hover {
    background-color: $secondary-color;
  }
}
.posts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .blog-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;

    .blog-img-container {
      width: 100%;
      background-color: $primary-color;
      height: 50%;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .blog-content-container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-family: "Mulish", "Times New Roman", Times, serif;

      .time-created {
        color: rgb(154, 154, 154);
      }

      h2 {
        height: 125px;
        font-family: "Sora", "Times New Roman", Times, serif;
      }

      .author-and-btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          font-family: "Mulish", "Times New Roman", Times, serif;
          color: $secondary-color;
          font-size: 16px;
          padding: 0.6rem 1rem;
          border-radius: 10px;
          border: 1px solid white;
        }

        a:hover {
          border: 1px solid;
        }
      }
    }
  }
}
