<div *ngIf="isLoading" class="spinner-container" >
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="form-container">
    <h2 class="form-title">{{ isLoginMode ? "SIGN UP" : "LOGIN" }}</h2>
    <form #authForm="ngForm" (ngSubmit)="submitForm(authForm)" *ngIf="!isLoading">
        <div class="flex-column">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" ngModel>
        </div>
    
        <div class="flex-column">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" ngModel>
        </div>
    
        <div *ngIf="!isLoginMode" class="sign-up-options">
            <div class="flex-column">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" ngModel>
            </div>
            <div class="flex-column">
                <label for="first">First:</label>
                <input type="text" name="first" id="first" ngModel>
            </div>
            <div class="flex-column">
                <label for="last">Last:</label>
                <input type="text" name="last" id="last" ngModel>
            </div>
        </div>
    
        
        <button type="submit">SUBMIT</button>
        <button type="button" (click)="onSwitchMode()">
            Switch to {{ isLoginMode ? "SIGN UP" : "LOGIN" }}
        </button>
    </form>
</div>