<div *ngIf="isLoading" class="spinner-container" >
    <app-loading-spinner></app-loading-spinner>
</div>
<form #authForm="ngForm" (ngSubmit)="submitForm(authForm)" *ngIf="!isLoading">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" ngModel>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" ngModel>

    <div *ngIf="!isLoginMode">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" ngModel>
        <label for="first">First:</label>
        <input type="text" name="first" id="first" ngModel>
        <label for="last">Last:</label>
        <input type="text" name="last" id="last" ngModel>
    </div>

    
    <button type="submit">Submit</button>
</form>
<button type="button" (click)="onSwitchMode()">
    Switch to {{ isLoginMode ? "Sign up" : "Login" }}
  </button>