<div *ngIf="isLoading" class="spinner-container" >
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="form-container">
    <h2 class="form-title">{{ isLoginMode ? "LOGIN" : "SIGNUP" }}</h2>
    <form #authForm="ngForm" (ngSubmit)="submitForm(authForm)" *ngIf="!isLoading">
        <div class="flex-column">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" ngModel required pattern="[A-Za-z0-9]{8,}">
            <div *ngIf="authForm.controls['username']?.touched && authForm.controls['username'].invalid" style="color: red; font-size: 12px;">
                <div *ngIf="authForm.controls['username'].errors['required']">
                    *Username is required.
                </div>
                <div *ngIf="authForm.controls['username'].errors['pattern']">
                    *Username must be at least 8 characters long and contain only letters and numbers.
                </div>
            </div>
        </div>
    
        <div class="flex-column">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" ngModel required pattern="^(?=.*[!@#$%])(?=.*[A-Z])(?=.*[a-z])(?=.*\d)[!@#$%A-Za-z\d]{8,}$">
            <div *ngIf="authForm.controls['password']?.touched && authForm.controls['password'].invalid" style="color: red; font-size: 12px;">
                <div *ngIf="authForm.controls['password'].errors['required']">
                    *Password is required.
                </div>
                <div *ngIf="authForm.controls['password'].errors['pattern']">
                    *Password must contain at least one uppercase letter, one lowercase letter, one number, one special character (! ,@ ,# ,$ ,%), and be at least 8 characters long.
                </div>
            </div>
        </div>
    
        <div *ngIf="!isLoginMode" class="sign-up-options">
            <div class="flex-column">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" ngModel required email>
                <div *ngIf="authForm.controls['email']?.touched && authForm.controls['email'].invalid" style="color: red; font-size: 12px;">
                    <div *ngIf="authForm.controls['email'].errors['required']">
                        *Email is required.
                    </div>
                    <div *ngIf="authForm.controls['email'].errors['email']">
                        *Invalid Email.
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <label for="first">First:</label>
                <input type="text" name="first" id="first" ngModel required minlength="2" pattern="[A-Za-z]{2,}">
                <div *ngIf="authForm.controls['first']?.touched && authForm.controls['first'].invalid" style="color: red; font-size: 12px;">
                    <div *ngIf="authForm.controls['first'].errors['required']">
                        *First name is required.
                    </div>
                    <div *ngIf="authForm.controls['first'].errors['pattern']">
                        *First name must be at least 2 characters and only be letters [A-Z]
                    </div>
                </div>
            </div>
            <div class="flex-column">
                <label for="last">Last:</label>
                <input type="text" name="last" id="last" ngModel required minlength="2" pattern="[A-Za-z]{2,}">
                <div *ngIf="authForm.controls['last']?.touched && authForm.controls['last'].invalid" style="color: red; font-size: 12px;">
                    <div *ngIf="authForm.controls['last'].errors['required']">
                        *Last name is required.
                    </div>
                    <div *ngIf="authForm.controls['last'].errors['pattern']">
                        *Last name must be at least 2 characters and only be letters [A-Z]
                    </div>
                </div>
            </div>
        </div>
    
        
        <button type="submit">SUBMIT</button>
        <button type="button" (click)="onSwitchMode()">
            Switch to {{ isLoginMode ? "SIGN UP" : "LOGIN" }}
        </button>

        <div *ngIf="errors.length">
            <ul *ngFor="let error of errors;">
                <li>{{ error }}</li>
            </ul>
        </div>
    </form>
</div>