.no-blogs-message {
  border: 5px solid $primary-color;
  background-color: #f5efff;
  border-radius: 20px;
  padding: 15px 25px;

  h2 {
    color: rgb(145, 144, 144);
  }
}

img {
  width: 300px;
}
