@font-face {
    font-family: "Mulish";
    src: url("../../src/assets/fonts/Mulish-VariableFont_wght.ttf") format("ttf"),
    url("../../src/assets/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Sora";
    src: url("../../src/assets/fonts/Sora-VariableFont_wght.ttf") format("ttf"),
    url("../../src/assets/fonts/Sora-VariableFont_wght.ttf") format("truetype");
  }