<div class="card-container">
    <div class="card">
        <div class="image-container">
            <img src="../../assets/images/pexels-creation-hill-1681010.jpg" alt="User Avatar" class="image">
        </div>
        <div class="content">
            <h3 class="username">@{{user.username}}</h3>
            <h1 class="name">
                <span class="first-name"> {{user.first}} </span>
                <span class="last-name">{{user.last}}</span>
            </h1>
            <h4 class="email">{{user.email}}</h4>
        </div>
    </div>
</div>